h1 {
  font-family: Arial, Helvetica, sans-serif
}
input {
  font-family: Arial, Helvetica, sans-serif
}
p {
  font-family: Arial, Helvetica, sans-serif
}

.btn-subscribe {
  background-color: rgb(204, 0, 0);
  color: white;
  border-radius: 4px;
  height: 30px;
  margin-left: auto;
  width: 130px;
  font-size: 15px;
  font-weight: 600;
  border: 0;
}
.column {
  float: left;
}
.column.first {
  width: 20%;
}
.column.second {
  width: 50%;
}
.column.third {
  float: right;
}
.comment-section {
  width: 400px;
  margin-left: 3%;
}
.comment-section img {
  height: 35px;
  margin-left: 25px;
  width: 35px;
}
.comments-header {
  margin: 25px 0 25px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.comments-header span {
  color: #989898;
  font-size: 12px;
  font-weight: 700;
}
.fas.fa-sort-amount-down {
  color: #989898;
  font-size: 20px;
  margin-left: 20px;
}
i[class*="fa-thumbs"] {
  color: #606060;
  font-size: 14px;
  margin: 0 10px;
}
.icons {
  width: auto;
  height: 20px;
  margin-right: 20px;
  position: relative;
  top: 7px;
}
.icons-toolbar {
  padding-right: 36px;
  padding-top: 22px;
  width: auto;
  height: 20px;
}
iframe {
  width: 100%;
  height: 500px;
}
.main-column {
    float: left;
    padding-left: 4%;
}
.main-column.one {
    width: 55%;
}
.main-column.one h1 {
  font-size: 23px;
}
.owner {
  align-items: center;
  clear: both;
  display: flex;
  flex-direction: row;
}
.owner h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 10px;
}
.public-comments {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}
.public-comments div:last-of-type {
  flex-direction: column;
  font-size: 12px;
  margin-left: 20px;
}
.public-comments div:last-of-type div {
  font-size: 14px;
}
.public-comments span:last-of-type {
  color: #606060;
  margin-right: 10px;
}
.public-comments p {
  font-size: 12px;
}
.sub-column{
    float: left;
    padding-bottom: 15px;
}
.sub-column.video {
    width: 40%;
    padding-right: 50px;
}
.sub-column.video img {
  width: 100%;
  height: auto;
  padding: 15px 10px 5px 0;
}
.upper-menu {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  position: relative;
  height: 35px;
  width: 100%;
  border-bottom: 3px solid #F0F0F0;
  margin-bottom: 30px;
}
.user-input-comment {
  display: flex;
  flex-direction: row;
  margin: 15px 0 25px 0;
}
.user-input-comment input {
  border: 0;
  border-bottom: 1px solid #989898;
  height: 30px;
  margin-left: 15px;
  width: 50%;
}
.user-profile {
  border-radius: 50%;
}
.vid-title {
    font-weight: 550;
}
.vid-owner {
    color:  #8e8e8e;
    margin: 0 0px 7px 0px;
}
.vid-views {
    color: #8e8e8e;
}

#button-search-img {
  width: auto;
  height: 20px;
  position: absolute;
  top: 10%;
  left: 18px;
}
#search-bar-input {
  width: 45%;
  height: 25px;
  position: absolute;
  top: 10%;
  left: 20%;
}
#search-bar-logo {
  background-color: #FAFAFA;
  position: absolute;
  top: 10%;
  left: 65%;
  height: 32px;
  width: 65px;
}
#search-bar-logo:hover {
  background-color: #E6E6E6;
}
#recomended-title {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif
}
#youtube-logo{
  width: auto;
  height: 50px;
  position: absolute;
  top: -12%;
  left: 5%;
}