.column {
  float: left;
}
.column.first {
  width: 20%;
}
.column.second {
  width: 50%;
}
.icons {
  width: auto;
  height: 20px;
  padding-right: 20px;
  position: relative;
  top: 7px;
  left: 475%;
}
.upper-menu {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  position: relative;
  height: 35px;
  width: 100%;
  border-bottom: 3px solid #F0F0F0;
}
.main-column {
    float: left;
}
.main-column.one {
    width: 65%;
}
.main-column.two {

}
.sub-column{
    float: left;
}
.sub-column.video {
    width: 30%;
}

#button-search-img {
  width: auto;
  height: 20px;
  position: absolute;
  top: 10%;
  left: 18px;
}
#search-bar-input {
  width: 45%;
  height: 25px;
  position: absolute;
  top: 10%;
  left: 20%;
}
#search-bar-logo {
  background-color: #FAFAFA;
  position: absolute;
  top: 10%;
  left: 65%;
  height: 32px;
  width: 65px;
}
#search-bar-logo:hover {
  background-color: #E6E6E6;
}
#youtube-logo{
  width: auto;
  height: 40px;
  position: absolute;
  top: 6%;
  left: 5%;
}