.column {
  float: left;
}
.column.first {
  width: 20%;
}
.column.second {
  width: 50%;
}
.icons {
  width: 25px;
  height: 25px;
  padding-right: 20px;
}
.upper-menu {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  height: 35px;
  width: 100%;
  border-bottom: 3px solid #F0F0F0;
}
.main-column {
    float: left;
}
.main-column.one {
    width: 65%;
}
.main-column.two {

}
.sub-column{
    float: left;
}
.sub-column.video {
    width: 30%;
}

#search-bar-input {
  width: 45%;
  height: 25px;
}
#search-bar-logo {
  background-color: #FAFAFA;
}
#search-bar-logo:hover {
  background-color: #E6E6E6;
}
#youtube-logo{
  width: auto;
  height: 40px
}
